---
import Layout from "../layouts/Layout.astro"
---

<Layout title='404'>
  <div class="w-full flex flex-col items-center gap-y-4">
    <h3>Parece que te has perdido</h3>
    <img src="/thisisfine.gif" alt="this is fine">
    <a href="/" class="text-gray-400 underline decoration-2">Volver al inicio</a>
  </div>
</Layout>