---
import Layout from "../layouts/Layout.astro"
---

<Layout title='About the project'>  
  <h1>About the project</h1>
  <p>
    The NBA teams project is a demo for the Astro workshop
  </p>
</Layout>